include *.txt
include *.rst
include *.sh
recursive-include otuclust *.c *.h *.pyc
recursive-include examples *
include docs/Makefile
include docs/make.bat
include docs/source/*.py
include docs/source/*.txt
include docs/source/images/
include R/*