graft thirdparty
graft micca/thirdparty_bin
recursive-include doc/source *
recursive-include docker *
include *.rst
include doc/Makefile
include doc/make.bat
# excludes must be at the end
global-exclude .DS_Store *.pyc
